@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap");

body {
  font-family: "Red Hat Display", sans-serif;
  padding: 30px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
.main-heading {
  color: orange;
  font-weight: 700;
  font-size: 3em;
}

.list-width {
  width: 50%;
}

.logo {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.title {
  display: flex;
  align-items: center;
}

.title-img {
  margin-right: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#myChart {
  width: 100%;
}

@media screen and (max-width: 720px) {
  .list-width {
    width: 100%;
  }
}
